<!doctype html>
<html lang="en" ng-csp="" ng-app="boilerplate">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>AirTube | TubeMogul</title>
		<meta name="description" content="AirTube">

		<!-- mobile meta -->
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">

		<!--[if IE]>
			<link rel="shortcut icon" href="favicon.ico">
		<![endif]-->
		<!-- or, set /favicon.ico for IE10 win -->
		<meta name="msapplication-TileColor" content="#f01d4f">

		<!-- CSS -->
		<!-- build:css css/style.min.css -->
		<link rel="stylesheet" type="text/css" href="styles/style.css" />
		<link rel="stylesheet" type="text/css" href="styles/bootstrap-theme.min.css" />
		<link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css" />
		<!-- endbuild -->
	</head>

	<body class="main-wrapper">
		<!-- Navigation -->
		<main-nav></main-nav>
		<!-- Main view for templates -->
		<div data-ng-view="" class="container home-container"></div>
		<footer-nav ng-if="!isHome" class="footer-nav"></footer-nav>
	</body>
	<!-- Vendors -->
	<!-- build:nonangularlibs js/nonangularlibs.js -->
	<script type="text/javascript" src="js/nonangular/jquery-1.11.2.min.js"></script>
	<!-- endbuild -->

	<!-- Non-angular libraries -->
	<!-- build:libs js/libs.js -->
	<script type="text/javascript" src="js/nonangular/lodash.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
	<!-- endbuild -->

	<!-- Angular external libraries for application -->
	<!-- build:angularlibs js/angularlibs.js -->
	<script type="text/javascript" src="js/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/angular/angular-route.min.js"></script>
	<script type="text/javascript" src="js/angular/angular-tooltip.js"></script>
	<script type="text/javascript" src="js/angular-cookies/angular-cookies.js"></script>
	<!-- endbuild -->

	<!-- Angular components -->
	<!-- build:appcomponents js/appcomponents.js -->
	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="app/config.js"></script>
	<script type="text/javascript" src="components/services/LocalStorage.service.js"></script>
	<script type="text/javascript" src="components/services/queryService.service.js"></script>
	<script type="text/javascript" src="components/directives/main.nav.directive.js"></script>
	<script type="text/javascript" src="components/directives/fallbackImage.js"></script>
	<script type="text/javascript" src="components/directives/footer-nav.directive.js"></script>
	<script type="text/javascript" src="components/directives/ng-enter.directive.js"></script>
	<script type="text/javascript" src="components/directives/responsive.nav.directive.js"></script>
	<script type="text/javascript" src="js/nonangular/bootstrap.min.js"></script>
	<!-- endbuild -->

	<!-- Application sections -->
	<!-- build:mainapp js/mainapp.js -->
	<script type="text/javascript" src="app/factory.js"></script>
	<script type="text/javascript" src="app/services/Listing.js"></script>
	<script type="text/javascript" src="app/services/Location.js"></script>
	<script type="text/javascript" src="app/services/Email.js"></script>
	<script type="text/javascript" src="app/services/ListingValidation.js"></script>
	<script type="text/javascript" src="app/controllers/MainController.js"></script>
	<script type="text/javascript" src="app/controllers/HeaderController.js"></script>
	<script type="text/javascript" src="app/controllers/HostListingController.js"></script>
	<script type="text/javascript" src="app/controllers/HostDetailController.js"></script>
	<script type="text/javascript" src="app/controllers/HostApplyController.js"></script>
	<script type="text/javascript" src="app/controllers/SeekListingController.js"></script>
	<script type="text/javascript" src="app/controllers/SeekDetailController.js"></script>
	<script type="text/javascript" src="app/controllers/AboutController.js"></script>
	<!-- endbuild -->

	<!-- templates from $templateCache -->
	<!-- build:templates -->
	<!-- endbuild -->

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
		(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
		e=o.createElement(i);r=o.getElementsByTagName(i)[0];
		e.src='https://www.google-analytics.com/analytics.js';
		r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
		ga('create','UA-XXXXX-X','auto');ga('send','pageview');
	</script>
</html>
