<div id="seek-detail-wrapper">
    <div class="host-title row">
        <div class="col-md-8 col-md-offset-2">
            About
        </div>
    </div>

    <div class="host-container col-md-8 col-md-offset-2 text-center">
        <div class="host-container-arrow"></div>

        <div class="list-detail-logo listing-img-wrapper">
            <img class="img-scaled" ng-src="../images/logo.gif" />
        </div>
        <div>
            <div class="host-container-text">
                As an <strong>international company</strong>, our TubeMogulers are always on the go.
            </div>
            <div class="host-container-text">
                Whether it’s a meeting in Chicago, or drinks in Shanghai - our employees enjoy the freedom of wandering the globe.</p>
            </div>
        </div>
        <div>
            <div class="host-container-text">
                AirTube celebrates our culture of collaboration; and makes a fast-growing company a little bit homier. &#9786;
            </div>
        </div>
        <div class="host-container-section">
            <div class="row host-container-title">
                The AirTube Team:
            </div>
            <div class="row host-container-text line-spaced">
                Kyle Boss, Camille Ong, Harrison Chu, Karina Gonzalez, <br>
                Michael Okuma, Stephen Hunt, Kamel Dabwan, <br>
                Jason Xie, Peter Wang, Kevin Lee, Simon Yu, Jeff Zhan
            </div>
        </div>
    </div>
</div>
