<div id="host-apply-title" class="host-title">Want to host?</div>

<form class="cf host-container col-md-8 col-md-offset-2">
	<div class="host-container-arrow"></div>
	<div class="row host-form-container host-form-error-container" ng-class="{ error : isError }">
        <div class="col-md-6 col-md-offset-3 text-center">
			<div class="host-form-error">{{ errorMsg }}</div>
        </div>
	</div>
	<div class="host-form-container">
	    <div class="row host-container-title">
	        <div class="col-md-6 col-md-offset-3 text-center">
	            Your TubeMogul Info
	        </div>
	    </div>
        <div class="row host-form-row">
            <div class="col-md-6 col-md-offset-3">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">First Name</span>
                    <input type="text" class="form-control" placeholder="John" name="first_name"
						aria-describedby="basic-addon1" ng-model="firstName" ng-enter="validate()">
                </div>
            </div>
        </div>
        <div class="row host-form-row">
            <div class="col-md-6 col-md-offset-3">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Last Name</span>
                    <input type="text" class="form-control" placeholder="Hughes" name="last_name"
						aria-describedby="basic-addon1" ng-model="lastName" ng-enter="validate()">
                </div>
            </div>
        </div>
        <div class="row host-form-row">
            <div class="col-md-6 col-md-offset-3">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Email</span>
                    <input type="text" class="form-control" placeholder="john.hughes" name="email"
						aria-describedby="basic-addon1" ng-model="email" ng-enter="validate()">
					<span class="input-group-addon" id="basic-addon2">@tubemogul.com</span>
                </div>
            </div>
        </div>
	</div>
	<div class="host-form-container">
	    <div class="row host-container-title">
	        <div class="col-md-6 col-md-offset-3 text-center">
	            Where are you located?
	        </div>
	    </div>
		<div class="row host-form-row">
			<div class="col-md-6 col-md-offset-3">
				<select class="form-control" ng-model="location">
					<option value="{{ l.location_id }}" ng-repeat="l in locations">
						{{ l.name }}
					</option>
				</select>
			</div>
		</div>
	</div>
	<div class="host-form-container">
	    <div class="row host-container-title">
	        <div class="col-md-6 col-md-offset-3 text-center">
	            Image(s) of your place<sup>1</sup> :
	        </div>
	    </div>
        <div class="row host-form-row">
            <div class="col-md-6 col-md-offset-3">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">URL</span>
                    <input type="text" class="form-control" placeholder="http://www.tinyurl.com/someLink" name="image_url"
						aria-describedby="basic-addon1" ng-model="imageUrl" ng-enter="validate()">
                </div>
            </div>
        </div>
        <div class="row host-form-row">
            <div class="col-md-6 col-md-offset-3">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">URL</span>
                    <input type="text" class="form-control" placeholder="http://www.tinyurl.com/someLink" name="image_url2"
						aria-describedby="basic-addon1" ng-model="imageUrl2" ng-enter="validate()">
                </div>
            </div>
        </div>
        <div class="row host-form-row">
            <div class="col-md-6 col-md-offset-3">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">URL</span>
                    <input type="text" class="form-control" placeholder="http://www.tinyurl.com/someLink" name="image_url3"
						aria-describedby="basic-addon1" ng-model="imageUrl3" ng-enter="validate()">
                </div>
            </div>
        </div>
	</div>
	<div class="host-form-container">
	    <div class="row host-container-title">
	        <div class="col-md-6 col-md-offset-3 text-center">
	            Willing to host travelers who are visting for<sup>2</sup> :
	        </div>
	    </div>
		<div class="row">
		  	<div class="col-md-6 col-md-offset-3 text-center">
				<label>
					<input type="checkbox" value="Briefcase" ng-model="type.business"
						ng-enter="validate()">
					Business
				</label>
				<label>
					<input type="checkbox" value="Flip Flops" ng-model="type.leisure"
						ng-enter="validate()">
					Leisure
				</label>
		  	</div>
		</div>
	</div>
	<div class="host-form-container">
	    <div class="row host-container-title">
	        <div class="col-md-6 col-md-offset-3 text-center">
	            Please write a description about you and your home:
	        </div>
	    </div>
		<div class="row">
		  	<div class="col-md-6 col-md-offset-3 text-center">
				<textarea class="form-control custom-control" rows="11" style="resize:none"
					ng-model="description"
					maxlength="1200"
					placeholder="(Please mention any pets, roommates, or other relevant information)"></textarea>
		  	</div>
		</div>
	</div>
	<div class="host-form-container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center host-form-small-notice">
				<sup>1</sup> Please note, we currently don't support image uploads. <br>You can use
				<strong><a href="http://www.imgur.com" target="_blank">Imgur</a></strong> or
				<strong><a href="http://www.tinypic.com" target="_blank">TinyPic</a></strong>
				if you don't have the image link.
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center host-form-small-notice">
				<sup>2</sup> Please note, only <strong>Business</strong> visits are subsidized by TubeMogul ($100 per diem).
				<br>But we encourage you to host our <strong>Leisure</strong> travelers as well!
			</div>
		</div>
	</div>
	<div class="host-form-container">
		<div class="row">
		  	<div class="col-md-6 col-md-offset-3 text-center">
			  	<button type="button" class="btn btn-success btn-block" ng-click="validate()">Submit</button>
		  	</div>
		</div>
	</div>
</form>
