<div class="header-video">
    <div class="video_container">
        <div class="hero_text">
            <h1 class="hero_header">AirTube</h1>
            <h4 class="hero_subheader">Enjoy your travels with local Mogulers in 15+ cities.</h4>
            <div class="hero_buttons_container">
                <div class="hero_btn left" ng-click="goToTravel()" id="hero_submit">
                    Traveling
                </div>
                <div class="hero_btn right" ng-click="goToHost()" id="hero_submit">
                    Hosting
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="logo_container">
        <img class="logo" src="images/logo.gif">
        <h1 class="home_header"><span class="red">Air</span>Tube</h1>
        <div id="tm-logo-wrapper">
            <span class="tm-powered-by-label">Powered by</span>
            <img src="images/tm_logo.svg" class="tm-logo">
        </div>
    </div>
    <p class="home_text">
        As an international company, our TubeMogulers are always on the go. Whether it’s a meeting in Chicago, or drinks in Shanghai - our employees enjoy the freedom of wandering the globe.
    </p>

    <div class="home_pana_container">
    </div>

    <p class="home_text">
        AirTube celebrates our culture of collaboration; and makes a fast-growing company a little bit homier.
    </p>

    <div class="home_imgs_container_wide">
        <div class="home_img_container_wide first">
            <img class="grayscale" src="images/test6.jpg">
        </div>
        <div class="home_img_container_wide" ng-click="goToTravel()">
            <div class="popGray1">Traveling</div>
            <div class="img_inner_cont">
                <img class="grayscale" src="images/test4.png">
            </div>
            <span class="grayscaleText1">Explore.</span>
        </div>
        <div class="home_img_container_wide" ng-click="goToHost()">
            <div class="popGray2">Hosting</div>
            <div class="img_inner_cont">
                <img class="grayscale" src="images/test5.jpg">
            </div>
            <span class="grayscaleText2">Share.</span>
        </div>
    </div>
</div>