<div id="host-listing-wrapper">
    <div class="host-title">Host Listings</div>
    <div class="host-container col-md-8 col-md-offset-2">
    	<div class="host-container-arrow"></div>
	    <div class="row host-container-text">
	        <div class="col-md-12 text-center">
	            Edit or remove your own listing here. Type your email and click submit.
	        </div>
	    </div>
        <div class="row host-form-row">
            <div class="col-md-6 col-md-offset-2">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Email</span>
                    <input type="text" id="host-email" class="form-control" name="host_email"
                        ng-model="email" ng-enter="getListing()"
                        aria-describedby="basic-addon1" placeholder="john.hughes" />
					<span class="input-group-addon" id="basic-addon2">@tubemogul.com</span>
                </div>
            </div>
            <div class="col-md-2">
                <input type="button" id="host-email-btn" class="btn-primary form-control"
                    ng-click="getListing()"
                    name="host_email_btn" aria-describedby="basic-addon1" value="View" />
            </div>
        </div>
        <div class="row host-container-text">
            <div class="col-md-12 text-center">
                <span class="host-form-small-notice-link" ng-click="useRecentlySearchedEmail()">Recently viewed: {{ recentlyViewedEmail }}</span>
            </div>
        </div>

        <div class="row col-md-10 col-md-offset-1 host-listings-table">
    	    <div class="row host-container-title">
    	        <div class="col-md-12 text-center">
    	            Showing listing(s) for email: {{ title }}
    	        </div>
    	    </div>
            <table class="table host-listings table-hover">
                <thead>
                    <tr>
                        <th>ID #</th>
                        <th>Office Location</th>
                        <th>Type (Business/Leisure)</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody ng-class="{hide: !listing}">
                    <tr class="listing-row" ng-click="goToHostDetail(listing.listing_id)">
                        <td>{{ listing.listing_id }}</td>
                        <td>{{ listing.location }}</td>
                        <td>{{ listing.type }}</td>
                        <td class="listing-row-description">{{ listing.description }}</td>
                    </tr>
                </tbody>
            </table>
    	    <div class="row host-container-title" ng-show="gettingListing">
    	        <div class="col-md-12 text-center">
    	            {{ gettingListingMsg }}
    	        </div>
    	    </div>
            <div class="host-grid-no-data" ng-class="{hide: !showNoGrid || gettingListing}">
                No Listings Available
            </div>
        </div>
    </div>
</div>
