<div id="seek-detail-wrapper">
    <div class="host-title row">
        <div class="col-md-8 col-md-offset-2">
            Listing Detail - Host View
            <div class="host-button" ng-click="goToHostListings()">
                <div class="host-button-arrow"></div>
                Back to Host Listings
            </div>
        </div>
    </div>

    <div class="host-container host-container-extra-bottom col-md-8 col-md-offset-2">
        <div class="host-container-arrow"></div>
        <div id="reserve-status" class="alert alert-success col-md-8 col-md-offset-2 hidden" role="alert"></div>
        <div class="row host-form-container host-form-error-container" ng-class="{ error : editError }">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="host-form-error">{{ editErrorMsg }}</div>
            </div>
        </div>
        <div class="row host-form-container host-form-success-container" ng-class="{ success : editSuccess }">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="host-form-success">{{ editSuccessMsg }}</div>
            </div>
        </div>

        <div id="list-detail-top">
            <div id="list-detail-img" class="col-md-5">
                <div class="row host-container-title">
                    <div class="col-md-12 text-center">
                        Image(s):
                    </div>
                </div>
                <img class="list-detail-image" ng-src="{{ imageUrl }}" ng-repeat="imageUrl in listing.images track by $index">
                <img class="list-detail-image" ng-src="{{ listing.defaultImage }}" ng-class="{hide: !listing.useDefaultImage}">
                <div class="text-center host-container-text" ng-class="{hide: !listing.useDefaultImage}">
                    * Default Location Image (city of TubeMogul office)
                </div>
                <div class="list-detail-logo listing-img-wrapper">
                    <img ng-src="../images/logo.gif" />
                </div>
            </div>

            <div id="host-details" class="col-md-6">
				<div class="row host-detail-edit" ng-class="{hide: listing.type == 'N/A'}">
					<div class="col-md-6 col-md-offset-3">
						<button class="btn btn-primary btn-block" ng-click="showAuthCodeBox()">Edit Listing</button>
					</div>
				</div>
				<div class="row host-detail-edit-auth" ng-class="{hide: !showAuthCode}">
					<div class="col-md-12 host-detail-edit-auth-input">
				        <div class="host-detail-edit-auth-arrow"></div>
						<div class="host-detail-edit-auth-text text-center">Enter auth code to
                            <strong>edit</strong><sup>1</sup> :</div>
                    	<div class="row host-form-mico-container host-form-error-container"
                            ng-class="{ error : isError }">
                            <div class="col-md-12 text-center">
                    			<div class="host-form-error">{{ errorMsg }}</div>
                            </div>
                    	</div>
                    	<div class="row host-form-mico-container host-form-success-container"
                            ng-class="{ success : isSuccess }">
                            <div class="col-md-12 text-center">
                    			<div class="host-form-success">{{ successMsg }}</div>
                            </div>
                    	</div>
	                    <div class="input-group">
	                        <span class="input-group-addon" id="basic-addon1">Auth Code:</span>
	                        <input type="text" id="guest-email" class="form-control" ng-model="authCode"
                                ng-enter="toggleEdit()"
	                            name="email" aria-describedby="basic-addon1">
						      <span class="input-group-btn">
						        <button class="btn btn-default" type="button" ng-click="toggleEdit()">Go!</button>
						      </span>
	                    </div>
                		<div class="row host-detail-edit-auth-notice">
                			<div class="col-md-12 text-center host-form-small-notice">
                				<sup>1</sup> You need your auth code to edit or delete your listing. Forgot your auth code? Click "Resend auth code" below.
                			</div>
                			<div class="col-md-12 text-center host-form-small-notice host-form-small-notice-link" ng-click="resendAuthCode()">
                				Resend auth code?
                			</div>
                		</div>
					</div>
				</div>
                <div class="row host-container-title">
                    <div class="col-md-12 text-center">
                        Host information:
                    </div>
                </div>
                <div id="host-name">
                    <label>Name: </label>
                    <span ng-class="{hide: editMode}">{{ listing.name }}</span>
                    <div class="input-group list-detail-edit-input" ng-class="{hide: !editMode}">
                        <span class="input-group-addon" id="basic-addon1">Name:</span>
                        <input type="text" id="host-name" class="form-control"
                            ng-model="listing.name" ng-enter="update()" value="{{ listing.name }}"
                            name="name" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div id="host-name">
                    <label>TubeMogul Location: </label>
                    <span ng-class="{hide: editMode}">{{ listing.location }}</span>
                    <a ng-href="{{ locationInfo }}" ng-class="{hide: editMode}" target="_blank">
                        <div class="host-icon glyphicon glyphicon-info-sign" aria-hidden="true"></div>
                    </a>
    				<select class="form-control list-detail-edit-input" ng-model="listing.location_id"
                        ng-class="{hide: !editMode}">
    					<option value="{{ l.location_id }}" ng-repeat="l in locations">
    						{{ l.name }}
    					</option>
    				</select>
                </div>
                <div id="host-email-wrapper" ng-class="{hide: !editMode}">
                    <label>Contact: </label>
                    <span id="host-email">{{ listing.email }}</span>
                </div>
                <div id="host-email-wrapper">
                    <label>Will host for: </label>
                    <span id="host-type" ng-class="{hide: editMode}">{{ listing.type }}</span>
        		  	<div class="list-detail-edit-input list-detail-edit-checkboxes" ng-class="{hide: !editMode}">
        				<label>
        					<input type="checkbox" value="Briefcase" ng-model="listing.type.business"
        						ng-enter="update()">
        					Business
        				</label>
        				<label>
        					<input type="checkbox" value="Flip Flops" ng-model="listing.type.leisure"
        						ng-enter="update()">
        					Leisure
        				</label>
        		  	</div>
                </div>
                <!-- Images -->
                <div ng-class="{hide: !editMode}">
                    <label>Image(s) of your place:</label>
                    <div class="row host-form-row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">URL</span>
                                <input type="text" class="form-control" placeholder="http://www.tinyurl.com/someLink" name="image_url"
            						aria-describedby="basic-addon1" ng-model="listing.imageUrl" ng-enter="update()">
                            </div>
                        </div>
                    </div>
                    <div class="row host-form-row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">URL</span>
                                <input type="text" class="form-control" placeholder="http://www.tinyurl.com/someLink" name="image_url2"
            						aria-describedby="basic-addon1" ng-model="listing.imageUrl2" ng-enter="update()">
                            </div>
                        </div>
                    </div>
                    <div class="row host-form-row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">URL</span>
                                <input type="text" class="form-control" placeholder="http://www.tinyurl.com/someLink" name="image_url3"
            						aria-describedby="basic-addon1" ng-model="listing.imageUrl3" ng-enter="update()">
                            </div>
                        </div>
                    </div>
                </div>
                <label>Description:</label>
                <div id="list-description" ng-class="{hide: editMode}">
                    {{ listing.description }}
                </div>
    		  	<div class="list-detail-edit-input" ng-class="{hide: !editMode}">
    				<textarea class="form-control custom-control" rows="11" style="resize:none"
    					ng-model="listing.description"
    					maxlength="1200"
    					placeholder="(Please mention any pets, roommates, or other relevant information)">
                    </textarea>
    		  	</div>
                <div class="row host-detail-delete" ng-class="{ hide: !isSuccess }">
                    <div class="col-md-6">
                        <button class="btn btn-primary btn-block" ng-click="update()">Update Listing</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-danger btn-block" ng-click="delete()">Delete Listing</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="cf"></div>

        <div class="listing-detail-bottom row">
            * All copyrights and images belong to their respective owners
        </div>
    </div>
</div>
