<div id="seek-detail-wrapper">
    <div class="host-title row">
        <div class="col-md-8 col-md-offset-2">
            Listing Detail
            <div class="host-button-default" ng-click="goToHostDetail()" ng-class="{hide: listing.type == 'N/A'}">
                Own this listing? Click to Edit!
            </div>
            <div class="host-button" ng-click="goToSeekListings()">
                <div class="host-button-arrow"></div>
                Back to Listings
            </div>
        </div>
    </div>

    <div class="host-container host-container-extra-bottom col-md-8 col-md-offset-2">
        <div class="host-container-arrow"></div>
        <div id="reserve-status" class="alert alert-success col-md-8 col-md-offset-2 hidden" role="alert"></div>

        <div id="list-detail-top">
            <div id="list-detail-img" class="col-md-5">
                <div class="row host-container-title">
                    <div class="col-md-12 text-center">
                        Image(s):
                    </div>
                </div>
                <img class="list-detail-image" ng-src="{{ imageUrl }}"
                    ng-repeat="imageUrl in listing.images track by $index">
                <img class="list-detail-image" ng-src="{{ listing.defaultImage }}" ng-class="{hide: !listing.useDefaultImage}">
                    <div class="text-center host-container-text" ng-class="{hide: !listing.useDefaultImage}">
                    * Default Location Image (city of TubeMogul office)
                </div>
                <div class="list-detail-logo listing-img-wrapper">
                    <img ng-src="../images/logo.gif" />
                </div>
            </div>

            <div id="host-details" class="col-md-6">
                <div class="row host-container-title">
                    <div class="col-md-12 text-center">
                        Host information:
                    </div>
                </div>
                <div id="host-name">
                    <label>Name: </label>
                    <span>{{ listing.name }}</span>
                </div>
                <div id="host-name">
                    <label>TubeMogul Location: </label>
                    <span>{{ listing.location }}</span>

                    <a ng-href="{{ locationInfo }}" target="_blank">
                        <div class="host-icon glyphicon glyphicon-info-sign" aria-hidden="true"></div>
                    </a>
                </div>
                <div id="host-email-wrapper">
                    <label>Will host for: </label>
                    <span id="host-type">{{ listing.type }}</span>
                </div>
                <label>Description:</label>
                <div id="list-description">
                    {{ listing.description }}
                </div>

                <div id="list-description-wrapper" ng-class="{hide: listing.type == 'N/A'}">
                	<div class="row host-form-container host-form-success-container" ng-class="{ success : isSuccess }">
                        <div class="col-md-12 text-center">
                			<div class="host-form-success">{{ successMsg }}</div>
                        </div>
                	</div>
            	    <div class="row host-container-text">
            	        <div class="col-md-12 text-center">
            	            If you're interested in this listing, enter your <strong>TubeMogul email address</strong>,
                            any questions or info the host should know, and click <strong>Reserve</strong>!
            	        </div>
            	    </div>
            	    <div class="row host-container-title">
            	        <div class="col-md-12 text-center">
            	            Your information:
            	        </div>
            	    </div>
                	<div class="row host-form-container host-form-error-container" ng-class="{ error : isError }">
                        <div class="col-md-12 text-center">
                			<div class="host-form-error">{{ errorMsg }}</div>
                        </div>
                	</div>
                    <div id="guest-email-wrapper" class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Email</span>
                        <input type="text" id="guest-email" class="form-control" placeholder="john"
                            ng-model="email"
                            ng-enter="reserve()"
                            name="email" aria-describedby="basic-addon1">
                        <span class="input-group-addon" id="basic-addon2">@tubemogul.com</span>
                    </div>
                    <div class="input-group col-md-12">
                        <div id="host-details-description-label">
                            <strong>Questions or Extra Info (if any):</strong>
                        </div>
                        <textarea class="form-control custom-control ng-pristine ng-valid ng-valid-maxlength ng-touched"
                            rows="11" style="resize:none" ng-model="description"
                            maxlength="1200" placeholder="E.g. I am interested in your pad! - John Hughes">
                        </textarea>
                    </div>
                    <div id="host-request">
                        <button id="reserve-btn" class="form-control"
                            ng-class="{ 'btn-primary': !isReserving, 'btn-disabled': isReserving }"
                            ng-click="reserve()">
                            {{ reserveText }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="cf"></div>

        <div class="listing-detail-bottom row">
            * All copyrights and images belong to their respective owners
        </div>
    </div>
</div>
