<div id="seek-listing-wrapper">
    <div class="host-title">Available Listings</div>
    <div class="host-container host-container-extra-bottom col-md-8 col-md-offset-2">
        <div class="host-container-arrow"></div>
        <div id="cities-wrapper" class="col-md-3">
            <div class="cities-title text-center">TubeMogul Locations</div>
    	    <div class="row host-container-title">
    	        <div class="col-md-12 text-center">
    	            {{ locations.length }} Locations:
    	        </div>
    	    </div><br>
            <div class="input-group">
                <label class="host-main-color">
                    <input type="checkbox" class="cities-checkbox" value="all"
                        ng-click="filterClick('all')">
                    Select All
                </label>
            </div>
            <div class="input-group" ng-repeat="location in locations">
                <label>
                    <input type="checkbox" class="cities-checkbox" value="{{ location.location_id }}"
                        ng-click="location.selected = !location.selected; filterClick(location.location_id)"
                        ng-checked="location.selected">
                    {{ location.name }}
                </label>
            </div>
        </div>
        <div id="listings-wrapper" class="col-md-9">
    	    <div class="row host-container-title">
    	        <div class="col-md-6 col-md-offset-3 text-center">
    	            Showing {{ filtered.length }} of {{ listings.length }} Listings
    	        </div>
    	    </div>
    	    <div class="row host-container-text listings-locations">
    	        <div class="col-md-12 text-center">
    	            <strong>Locations of available {{ listings.length }} listings:</strong><br>
                    {{ locationNames }}
    	        </div>
    	    </div>
            <div class="col-md-4" ng-repeat="listing in filtered = (listings | filter: filter)">
                <div class="listing-card" ng-click="goToSeekDetail(listing.listing_id)" ng-mouseover="console.log('hi')">
                    <div class="listing-img-wrapper">
                        <img ng-src="{{ listing.image_link }}" ng-class="{hide: listing.useDefaultImage}" fallback-image>
                        <div class="listing-default-img-wrapper"
                            ng-class="{hide: !listing.useDefaultImage}">
                            <img ng-src="{{ getDefaultListingImage(listing.location) }}">
                        </div>
                    </div>
                    <div class="listing-details">
                        <div class="listing-city">
                            {{ listing.name }}
                        </div>
                        <div class="listing-name">
                            - {{ listing.location }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="listing-detail-bottom row">
            * All copyrights and images belong to their respective owners
        </div>
    </div>
</div>
