<div class="host-title">Looking for a host?</div>

<form class="cf host-container">
    <div class="host-form-container">
        <div class="row host-container-title">
            <div class="col-md-4 col-md-offset-4 text-center">
                By which office is your rental located?
            </div>
        </div>
        <div class="row host-form-row">
            <div class="col-md-4 col-md-offset-4">
                <select class="form-control">
                    <option value="{{ location.key }}" ng-repeat="location in locations">{{ location.value }}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="host-form-container">
        <div class="row host-container-title">
            <div class="col-md-4 col-md-offset-4 text-center">
                Willing to host*:
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <label>
                    <input type="checkbox" value="Briefcase">
                    Briefcase
                </label>
                <label>
                    <input type="checkbox" value="Flip Flops">
                    Flip Flops
                </label>
            </div>
        </div>
    </div>
    <div class="host-form-container">
        <div class="row host-container-title">
            <div class="col-md-4 col-md-offset-4 text-center">
                Take some time to write a description!<br>
                Include info about your space, neighborhood, and a little about yourself (also note if you have any pets or roommates).
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <textarea class="form-control custom-control" rows="6" style="resize:none" placeholder="E.g. I am John Hughes!"></textarea>
            </div>
        </div>
    </div>
    <div class="host-form-container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center host-form-small-notice">
                *Please note, only “Briefcase” visits are subsidized by TubeMogul ($100 per diem).
                But we encourage you to host our “Flip-flop” travelers as well!
            </div>
        </div>
    </div>
    <div class="host-form-container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-success">Submit!</button>
                </div>
            </div>
        </div>
    </div>
</form>
