/******************************************************************

Grid

******************************************************************/
.host-listings {
	margin-top: 20px;
}
.host-grid-no-data {
	color: $host-form-no-grid-text-color;
	text-align: center;
	font-size: 18px;
	margin: 15px auto 30px;
	border: 1px dashed;
	padding: 40px 0;
	&.hide {
		display: none;
	}
}
.host-container {
    border-top: 1px solid $host-container-border;
	overflow: inherit !important;
	position: relative;
	.host-container-arrow {
		background-color: white;
    	border-left: 1px solid $host-container-border;
	    border-top: 1px solid $host-container-border;
		height: 32px;
		margin-left: -16px;
		margin-top: -17px;
		left: 50%;
		position: absolute;
		transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		top: 0;
		width: 32px;
	}
}
