/******************************************************************

Home

******************************************************************/

html, body {
    width:    100%;
    height:   100%;
    padding:  0px;
    margin:   0px;
    font-family: 'Lato', sans-serif;
    overflow-x: none;
}
html {
    overflow-x: hidden !important;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    margin: 15px;
}

h2 {
    font-weight: 700;
    font-style: italic;
    font-size: 16px;
}

.home-container.container {
    padding: 0;
}

.map_canvas {
    width:             100%;
    height:            100%;
    background-color:  #CCC;
}

.marker_select {
    width: 200px;
    float: left;
}

.ui-selectmenu-button {
    float: left;
}

.header-video {
    height: 500px;
}

.header {
    border-left: none;
    box-shadow: 0 0 7px 3px #B7C9D2;
    position: relative;
    padding: 0;
}

.video_container {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 615px;
    width: 100%;
    overflow: hidden;
    margin: -115px 0 0 0;
    z-index: 1;
    width: 100%;
    min-height: 300px;
    overflow: hidden;
    z-index: 1;
    background: url("/images/carheader.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}

.hero_video {
    position: absolute;
    z-index: 0;
    min-width: 1020px;
    width: 100%;
}

.hero_form_container {
    position: absolute;
    bottom: 0px;
    height: 70px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.hero_form {
    margin: 15px auto 0 auto;
    width: 100%;
    min-width: 600px;
    max-width: 740px;
}

.heat_tweet_buttons {
    display: inline-block;
    float: right;
}

.hero_text {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: rgba(250, 250, 250, 0.7);
    position: absolute;
    left: calc(50% - 260px);
    top: calc(50% - 100px);
    text-align: center;
    padding: 12px;
    font-family: 'Abel', sans-serif;
    width: 520px;
}

.hero_btn {
    width: 150px;
    height: 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3 ease;
    transition: all 0.3 ease;

    color: rgba(250, 250, 250, 1);
    margin: 5px auto 15px auto;
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
    line-height: 40px;
    padding: 5px 0 0 0;

}

.hero_btn.left {
    float: left;
    background-color: rgba(212, 0, 150, 0.6);

    &:hover {
        background-color: rgba(0, 0, 0, 0.6);
    }
}

.hero_btn.right {
    float: right;
    background-color: rgba(93, 150, 41, 0.75);

    &:hover {
        background-color: rgba(0, 0, 0, 0.6);
    }
}

.container {
    width: 100% !important;
}

#tm-logo-wrapper {
    margin-top: 15px;
    margin-left: -75px;
}

.tm-powered-by-label {
    margin-right: 10px;
    font-size: 18px;
    vertical-align: middle;
}

.tm-logo {
    width: 10%;
    height: auto;
}

.hero_buttons_container {
    width: 340px;
    margin: auto;
}

.hero_header {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    color: #444444;
}

.hero_subheader {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.hero_form .hero_destination {
    font-size: 24px;
    line-height: 34px;
    width: 30%;
    float: left;
    margin: 0 25px;
}

.hero_form .hero_date {
    float: left;
    width: 20%;
}

.input-group {
    .form-control.hero-date-left {
        border-bottom-left-radius: 10px !important;
        border-top-left-radius: 10px !important;
    }

    .form-control.hero-date-right {
        border-bottom-right-radius: 10px !important;
        border-top-right-radius: 10px !important;
    }
}

.container.ng-scope {
    height: 100px;
}

.home_header {
    margin: auto;
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 80px;
    display: inline;
}

.home_text {
    margin: 10px auto 35px auto;
    font-weight: 500;
    color: #555555;
    font-family: "Helvetica Neue thin",Helvetica,Arial,sans-serif;
    width: 55%;
    text-align: center;
    font-size: 18px;
}

.home_img {
    height: 300px;
    margin: 20px auto;
}

.home_img_container {
    width: 150px;
    overflow-x: hidden;
    float: left;
    margin: 10px;
    text-align: center;
}

.home_img_container_wide {
    width: 250px;
    overflow-x: hidden;
    float: left;
    margin: 10px;
    text-align: center;
    position: relative;
    z-index: 20;
}

.home_imgs_container {
    margin: auto;
    width: 510px;
    height: 350px;
}

.home_imgs_container_wide {
    margin: auto;
    width: 810px;
    height: 350px;
}

.home_hr {
    border-top: 1px solid #ccc;
}

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    transition: all .5s ease;
    height: 300px;
    cursor: pointer;
}

.home_img_container_wide:hover > img.grayscale, .home_img_container_wide:hover img.grayscale {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.img_inner_cont:hover > img.grayscale, .img_inner_cont:hover img.grayscale {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.popGray1:hover + img.grayscale, .popGray2:hover > img.grayscale {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.home_pana_container {
    height: 200px;
    background: url("/images/pana2.jpg") no-repeat fixed ;
    width: calc(100% + 30px);
    margin: -15px;
    margin: 50px auto;
    background-size: 100%;
}

.hero_btn.hero_option {
    border-radius: 0;
    width: 150px;
    height: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3 ease;
    transition: all 0.3 ease;
    border: 1px solid #000;
    color: rgba(250, 250, 250, 1);
    margin: -15px auto 15px auto;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    padding: 0px 0 0 0;
    float: right;
    background-color: rgba(13, 80, 41, 0.75);
    transition: all 1s ease;
    &:hover {
        background-color: rgba(0, 0, 0, 0.6);
    }
}

.hero_options {
    visibility: hidden;
    opacity: 0;
    float: right;
    width: 100px;
}



.hero_btn_group:hover > .hero_options {
    visibility: visible;
    opacity: 1;
}

.hero_btn_group:hover .hero_options {
    visibility: visible;
    opacity: 1;
}

.logo {
    width: 100px;
    margin: -60px 0 0 -100px;
}

.logo_container {
    text-align: center;
    margin: 85px 0 70px 0;
}

.red {
    color: $host-logo-color;
}

.grayscaleText1 {
    color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    right: -100px;
    bottom: 0px;
    font-size: 40px;
    top: 180px;
    margin: auto;
    height: 10px;
    z-index: 1;
    font-family: 'Helvetica Neue';
}

.grayscaleText2 {
    color: #fff;
    position: absolute;
    top: -290px;
    left: -110px;
    right: 0px;
    bottom: 0px;
    font-size: 40px;
    margin: auto;
    height: 10px;
    z-index: 1;
    font-family: 'Helvetica Neue';
}

.popGray1 {
    border-radius: 0;
    width: 150px;
    height: 50px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    color: rgba(250, 250, 250, 1);
    cursor: pointer;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    background-color: rgba(13, 80, 41, 0.75);
    z-index: 1;
    position: absolute;
    top: 0px;
    background-color: rgba(80, 13, 41, 0.75);
    left: 53px;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
}

.popGray2 {
    border-radius: 0;
    width: 150px;
    height: 50px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    color: rgba(250, 250, 250, 1);
    cursor: pointer;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    z-index: 1;
    position: absolute;
    bottom: 0px;
    left: 53px;
    padding: 10px;
    background-color: rgba(13, 80, 41, 0.75);
    visibility: hidden;
    opacity: 0;
}

.home_img_container_wide:hover > .popGray1, .home_img_container_wide:hover > .popGray2{
    visibility: visible;
    opacity: 1;
}

.footer-nav {
    box-sizing: inherit !important;
    clear: both;
    display: block;
    margin-top: 10px;
    text-align: center;
    @media screen and (max-width: 992px) {
        display: none;
    }
    footer {
        background-color: $footer-background;
        color: white;
        padding: 20px 0;
        .footer-nav-logo {
            box-sizing: content-box;
            margin: 0 auto;
            height: 60px;
            padding: 30px 0;
            position: relative;
            width: 50px;
        }
    }
    .footer-nav-text {
        font-size: 12px;
        margin: 20px 0;
    }
}

.home_img_container_wide.first img.grayscale {
    cursor: default;
}
#inner-header {
    .menu {
        a.selected {
            color: $host-container-title-color;
        }
    }
}
