.listing-row {
	cursor: pointer;
	.listing-row-description {
	    word-wrap: break-word;
	    max-width: 366px;
	}
}
.host-listings-table {
	border-top: 1px solid $gray;
	margin-top: 20px;
	padding-top: 20px;
}
