$authBackground: #fbfbfb;
$authBorder: #ddd;

#seek-detail-wrapper{
	#host-details {
		.host-detail-delete {
			cursor: pointer;
			margin-top: 50px;
		}
		.host-detail-edit {
			margin: 0 auto 20px;
		}
		.host-detail-edit-auth {
			margin: 10px auto 20px;
			position: relative;
			.host-detail-edit-auth-arrow {
				background-color: $authBackground;
		    	border-left: 1px solid $authBorder;
			    border-top: 1px solid $authBorder;
				height: 16px;
				margin-left: -8px;
				margin-top: -9px;
				left: 50%;
				position: absolute;
				transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				top: 0;
				width: 16px;
			}
			.host-detail-edit-auth-notice {
				margin-top: 15px;
				margin-bottom: 5px;
			}
			.host-detail-edit-auth-text {
				font-size: 13px;
				margin-bottom: 10px;
			}
			.host-detail-edit-auth-input {
				background-color: $authBackground;
				border: 1px solid $authBorder;
				border-radius: 3px;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				padding: 10px 15px;
			}
		}
	}
}
