#seek-detail-wrapper {
    color: $dark-gray;

    #list-detail-img {
        margin-left: 30px;
        .list-detail-image {
            background-color: $gray;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            min-height: 200px;
            margin-bottom: 15px;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }

    #host-details {
        margin-left: 20px;
        font-size: 15px;

        > div {
            margin-bottom: 10px;
        }

        #reserve-btn {
            height: 40px;
            margin-top: 20px;
            font-size: 15px;
        }
    }

    #host-details-description-label {
        font-weight: 700;
        margin-bottom: 10px;
    }

    #guest-email-wrapper {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #list-description-wrapper {
        padding-top: 30px;
        border-top: 1px solid $body-background-color;
        margin-top: 30px;
    }

    #list-description {
        margin-top: 10px;
        word-wrap: break-word;
    }

    #list-detail-bottom {
        margin: 20px 0 50px;
        font-size: 15px;
    }
    .list-detail-logo {
        height: 120px;
        margin: 30px auto;
        width: 120px;
    }
    .list-detail-edit-input {
        margin: 5px 0 25px;
    }
    .list-detail-edit-checkboxes {
        label {
            font-weight: 400;
        }
    }
}
.listing-detail-bottom {
    bottom: 15px;
    color: $light-text-color;
    font-size: 12px;
    position: absolute;
    text-align: center;
    width: 100%;
}
