$cardImageHeight: 170px;

#seek-listing-wrapper {
    #cities-wrapper {
        border-right: 1px solid $gray;
        font-size: 15px;
        color: $dark-gray;

        .input-group {
            margin: 10px 0;
        }
    }
    .listings-locations {
        margin: 20px auto 30px;
    }
    .cities-title {
        font-size: 15px;
        padding-bottom: 25px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 25px;
    }

    .cities-checkbox {
        margin-right: 5px;
    }

    .listing-card {
        cursor: pointer;
        border: 1px solid #ddd;
        display: inline-block;
        box-shadow: 0 0 3px $gray;
        -moz-box-shadow: 0 0 3px $gray;
        -webkit-box-shadow: 0 0 3px $gray;
        min-width: 100%;
        padding: 7px;
        margin-bottom: 25px;
        transition: 0.2s;
        -moz-transition: 0.2s;
        -webkit-transition: 0.2s;
        vertical-align: top;

        &:hover {
            box-shadow: 0 3px 6px 3px $host-container-shadow;
            -moz-box-shadow: 0 3px 6px 3px $host-container-shadow;
            -webkit-box-shadow: 0 3px 6px 3px $host-container-shadow;
        }

        .listing-img-wrapper {
            width: 100%;
            height: $cardImageHeight;
            overflow: hidden;
            position: relative;

            img {
                border-radius: 3px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                filter: grayscale(60%);
                -moz-filter: grayscale(60%);
                -webkit-filter: grayscale(60%);
                object-fit: cover;
                transition: 0.2s;
                -moz-transition: 0.2s;
                -webkit-transition: 0.2s;
                height: $cardImageHeight;
                width: 100%;
                margin-top: -10px;

                &:hover {
                    filter: grayscale(0%);
                    -moz-filter: grayscale(0%);
                    -webkit-filter: grayscale(0%);
                }
            }
            .listing-default-img-wrapper {
                border: 1px solid $light-text-color;
                border-radius: 50%;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                height: 100px;
                width: 100px;
                margin-left: -50px;
                margin-top: -55px;
                padding: 5px;
                left: 50%;
                position: absolute;
                top: 50%;
                img {
                    opacity: 0.9;
                    height: 100%;
                    border-radius: 50%;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    position: relative;
                    top: 10px;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        .listing-details {
            margin: 10px 0;
            text-align: center;

            .listing-city {
                color: $dark-gray;
                font-size: 16px;
            }
            .listing-name {
                color: $light-text-color;
                font-size: 12px;
                font-weight: 700;
                margin: 7px auto;
            }
        }
    }
}
