/**
 * Theme
 */
.host-title {
	color: $host-container-title-color;
    font-size: 26px;
    font-weight: 700;
    margin: 50px auto;
    text-align: center;
}
.host-icon.glyphicon {
	cursor: pointer;
	display: inline-block;
	opacity: 0.6;
	position: relative;
    -moz-transition: .1s;
    -webkit-transition: .1s;
    transition: .1s;
	top: 2px;
	left: 2px;
	&:hover {
		opacity: 1;
	}
}
.host-main-color {
	color: $host-main-color;
}
.host-container {
    overflow: hidden;
    margin: 0 30px 50px;
    padding: 30px;
    border-radius: 3px;
    background: $white;
    box-shadow: 0 1px 2px $host-container-shadow;
	.line-spaced {
		line-height: 22px;
	}
}
.host-container-section {
	margin: 45px auto;
}
.host-container-title {
	color: $text-color;
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 10px;
}
.host-container-text {
	color: $text-color;
	font-size: 13px;
	margin: 10px 0;
}
.host-container-extra-bottom {
	padding-bottom: 70px;
}

.hide {
	display: none;
}
.img-scaled {
	height: 100%;
	width: 100%;
}
