/******************************************************************

Variables

******************************************************************/

$black:             #231f20;
$white:             #fff;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$dark-gray:         #5a5a5a;
$text-color:        #5c6b80;
$light-text-color:  #999;
$host-main-color: #D46580;
$host-logo-color: #D7355C;

$link-color:        $black;
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;
$alert-red:					red;
$alert-green:				#645564;
$alert-blue:				blue;

$body-background-color: #eaf0f3;

$host-hover-panel: #ddd;

$host-button-color: $host-main-color;
$host-button-color-2: #C95A75;
$host-button-border: #AF5167;
$host-button-arrow-color: #CE627C;
$host-button-inset: #CB6880;
$host-button-text-shadow: #732E3F;

$host-button-default-color: #4391C6;
$host-button-default-color-2: #3985B8;
$host-button-default-border: #496EA5;
$host-button-default-inset: #4F99D3;
$host-button-default-text-shadow: #1C608F;

$host-button-success-color: #82C782;
$host-button-success-color-2: #67A867;
$host-button-success-border: #669F66;
$host-button-success-inset: #BDE4BD;
$host-button-success-text-shadow: #555;

$host-container-title-color: $host-main-color;
$host-container-shadow: #c7d5e1;
$host-form-error-background: #DC7676;
$host-form-success-background: #77AD46;
$host-form-no-grid-text-color: #8D9BA7;
$host-container-border: #bbb;

$footer-background: #353D44;
