<!-- Footer navigation -->
<div class="footer-nav-text">&copy; 2015.
    <a href="http://airtube.tubemogul.com" target="_blank">AirTube</a>, powered by
    <a href="https://www.tubemogul.com" target="_blank">TubeMogul</a>.</div>
<footer>
    <div class="footer-nav-logo">
        <img class="img-scaled" src="../../images/logo_white.png">
    </div>
</footer>
