<!-- Main navigation -->
<header ng-controller="HeaderController" class="header" role="banner" itemscope itemtype="http://schema.org/WPHeader">
    <div id="inner-header" class="wrap container cf">
        <div class="col-md-8 col-md-offset-2">
            <!-- logo -->
            <h1 id="logo" class="text-hide h1 pull-left" itemscope itemtype="http://schema.org/Organization">
                <a href="#/" rel="nofollow"><img src="../images/logo.gif" alt=""></a>
            </h1>

            <!-- hamburger icon -->
            <responsive-nav></responsive-nav>

            <!-- nav -->
            <nav role="navigation" class="main-nav text-center" itemscope itemtype="http://schema.org/SiteNavigationElement">
                <ul class="menu cf">
                    <li><a href="#/about" ng-class="{selected: menuSelected === 'about'}">About</a></li>
                    <li><a href="#/host/create" ng-class="{selected: menuSelected === 'host_create'}">Apply as Host</a></li>
                    <li><a href="#/host" ng-class="{selected: menuSelected === 'host'}">Host Listing</a></li>
                    <li><a href="#/seek" ng-class="{selected: menuSelected === 'seek'}">Seek Listing</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<div class="responsive-wrapper">
    <ul class="cf responsive-nav option-set">
        <li><a href="#/about">About</a></li>
        <li><a href="#/host/create">Apply as Host</a></li>
        <li><a href="#/host">Host Listing</a></li>
        <li><a href="#/seek">Seek Listing</a></li>
    </ul>
</div>
