/******************************************************************

Buttons

******************************************************************/
.host-button,
.host-button-default {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	opacity: 1;
	padding: 10px 25px;
	position: absolute;
	top: 34px;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
	.host-button-arrow {
		height: 8px;
		position: absolute;
		left: 0;
		margin-left: -4px;
		margin-top: -4px;
		top: 50%;
		width: 8px;
		transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}
}
.main-wrapper .btn-danger,
.host-button {
	background: linear-gradient($host-button-color, $host-button-color-2);
	border: 1px solid $host-button-border;
	box-shadow: inset $host-button-inset 0 1px;
	left: 0;
	margin-left: 10px;
    text-shadow: $host-button-text-shadow 0 1px 0;
	&:active,
	&:focus,
	&:hover {
		background: linear-gradient($host-button-color, $host-button-color-2);
		border: 1px solid $host-button-border;
		box-shadow: 0 1px 5px 2px $border-color;
		-moz-box-shadow: 0 1px 5px 2px $border-color;
		-webkit-box-shadow: 0 1px 5px 2px $border-color;
	}
	.host-button-arrow {
		background-color: $host-button-arrow-color;
		border-bottom: 1px solid $host-button-border;
		border-left: 1px solid $host-button-border;
	}
}
.main-wrapper .btn-primary,
.host-button-default {
	background: linear-gradient($host-button-default-color, $host-button-default-color-2);
	border: 1px solid $host-button-default-border;
	box-shadow: inset $host-button-default-inset 0 1px;
	margin-right: 10px;
	right: 0;
    text-shadow: $host-button-default-text-shadow 0 1px 0;
	&:focus {
    	outline: none;
	}
	&:active,
	&:focus,
	&:hover {
		/* Override bootstrap hover */
		background: linear-gradient($host-button-default-color, $host-button-default-color-2);
		border: 1px solid $host-button-default-border;
		box-shadow: 0 1px 5px 2px $border-color;
		-moz-box-shadow: 0 1px 5px 2px $border-color;
		-webkit-box-shadow: 0 1px 5px 2px $border-color;
	}
}
.main-wrapper .btn-success {
	background: linear-gradient($host-button-success-color, $host-button-success-color-2);
	border: 1px solid $host-button-success-border;
	box-shadow: inset $host-button-success-inset 0 1px;
    text-shadow: $host-button-success-text-shadow 0 1px 0;
	&:focus {
    	outline: none;
	}
	&:active,
	&:focus,
	&:hover {
		/* Override bootstrap hover */
		background: linear-gradient($host-button-success-color, $host-button-success-color-2);
		border: 1px solid $host-button-success-border;
		box-shadow: 0 1px 5px 2px $border-color;
		-moz-box-shadow: 0 1px 5px 2px $border-color;
		-webkit-box-shadow: 0 1px 5px 2px $border-color;
	}
}
