.host-form-container {
    margin: 30px auto;
    label {
        font-weight: 400;
        margin: 0 15px;
        input {
            margin-right: 5px;
        }
    }
}
.host-form-mico-container {
    margin-bottom: 10px;
}
.host-form-row {
    margin: 14px auto;
}
.host-form-small-notice {
    color: $light-text-color;
    font-size: 13px;
}
.host-form-small-notice-link {
    color: $dark-gray;
    cursor: pointer;
    margin-top: 10px;
    &:hover {
        text-decoration: underline;
    }
}
.host-form-error-container {
    display: none;
    .host-form-error {
        background-color: $host-form-error-background;
        border-radius: 4px;
        color: white;
        font-weight: 700;
        padding: 7px 0;
        text-align: center;
    }
    &.error {
        display: block;
    }
}
.host-form-success-container {
    display: none;
    .host-form-success {
        background-color: $host-form-success-background;
        border-radius: 4px;
        color: white;
        font-weight: 700;
        padding: 7px 0;
        text-align: center;
    }
    &.success {
        display: block;
    }
}
